@import 'normilize.css';

html,
body {
	height: 100%;
}
body {
	font: 24px/27px 'Open+Sans', Arial, Helvetica, sans-serif;
	min-width: 320px;
}
li {
	list-style-type: none;
}
a {
	color: #ccc;
	text-decoration: none;
}
header {
	background: #000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 3%;
}
.logo img {
	max-width: 100px;
}
.slogan {
	vertical-align: super;
}
.main-menu {
	display: flex;
}

.slogan {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font: 24px/27px 'Montserrat';
}
.gallery {
	margin: 50px auto;
	width: 500px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.gallery li {
	position: absolute;
	animation: round 16s infinite;
	opacity: 0;
}
.gallery li img {
	display: block;
	width: 100%;
}
@keyframes round {
	25% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
}
.gallery li:nth-child(1) {
	animation-delay: 12s;
}

.gallery li:nth-child(2) {
	animation-delay: 8s;
}

.gallery li:nth-child(3) {
	animation-delay: 4s;
}

.gallery li:nth-child(4) {
	animation-delay: 0s;
}

