.input-form input[for="new"] {
	color: blue;
}
.input-form input[for="old"] {
	color: pink;
}
* {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
main>ul {
	border: 1px solid #ccc;
	margin: 20px auto 20px;
	box-sizing: border-box;
	width: 520px;
}
main>ul {
	display: flex;
}
main>ul>li>ul li {
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
}

// main>ul>li:nth-child(even) ul li:nth-child(odd),
// main>ul>li:nth-child(odd) ul li:nth-child(even) {
// 	background: #000;
// }

// main>ul>li:first-child,
// main>ul>li:last-child,
// main>ul>li li:first-child,
// main>ul>li li:last-child  {
// 	background: #000;
// }

main>ul>li:nth-child(n+1) li:nth-child(10n+1) {
	background: #000;
}

.circle {
	width: 100px;
	height: 100px;
	background: yellow;
	//border: 10px solid #ccc;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}
.circle>div {
	background: url('../images/gall-1.png');
	background-size: cover;
	width: 120px;
	height: 120px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	z-index: -1;
}